<div class="header-area">
    <mat-icon>account_circle</mat-icon>
    <span>{{user.firstName}} {{user.lastName}} | </span>
    <span (ngClick)="logoutUser()"> Logout</span>
</div>
<com-title-area titleText="Subscriptions" subtitleText="Do more with your mobile">
</com-title-area>
<div class="no-subscriptions" *ngIf="!show">No Subscriptions</div>
<div class="subscriptions">
<div *ngIf="mobileSubscriptions">
  <subscriptions-table title="Mobile Subscriptions" [subscriptionItems]="mobileSubscriptions"></subscriptions-table>
</div>
<div *ngIf="broadbandSubscriptions">
  <subscriptions-table title="Broadband Subscriptions" [subscriptionItems]="broadbandSubscriptions"></subscriptions-table>
</div>
</div>