<div class="header-area">
    <span class="profile">
    {{user.firstName}} {{user.lastName}}</span><span> | </span>
    <span class="logout-button"><button mat-button (click)="logoutUser()">Logout</button></span>
</div>
<div com-title-area titleText="Subscriptions" subtitleText="Do more with your mobile" class="title-area">
</div>
<div class="no-subscriptions" *ngIf="!show">No Subscriptions</div>
<div class="subscriptions">
<div *ngIf="mobileSubscriptions">
  <subscriptions-table title="Mobile Subscriptions" [subscriptionItems]="mobileSubscriptions"></subscriptions-table>
</div>
<div *ngIf="broadbandSubscriptions">
  <subscriptions-table title="Broadband Subscriptions" [subscriptionItems]="broadbandSubscriptions"></subscriptions-table>
</div>
</div>