<div class="login-form-container">
    <div>
        <mat-card class="mat-elevation-z8 login-form-card">
            <section>
                <div><img src="../../../assets/dna_logo.png" alt="Dna"> </div>
                <h2></h2>
            </section>
            <hr>
            <mat-card-title>
                Login to My DNA
            </mat-card-title>
            <mat-card-content>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <mat-form-field class="field-full-width">
                        <mat-label>
                            <mat-icon>perm_identity</mat-icon>
                        </mat-label>
                        <input matInput placeholder="Enter your email as username" type="text" formControlName="username"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <mat-hint>Enter the email address you used in registration</mat-hint>
                        <mat-error *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Username is required</div>
                            <div *ngIf="f.username.errors.email">Invalid Email</div>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="field-full-width">
                        <mat-label>
                            <mat-icon>lock</mat-icon>
                        </mat-label>
                        <input matInput placeholder="Enter your password" [type]="hide?'password':'text'"
                            formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <mat-icon matSuffix (click)="hide=!hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </mat-error>
                    </mat-form-field>
                    <div>
                        <button mat-raised-button color="accent" class="login-button" [disabled]="loading">Login</button>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>
                </form>
                <hr>
                <div>
                    <button mat-raised-button class="subscription-button" [routerLink]="['/subscriptions']" class="btn btn-link">Check
                        subscriptions packages</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>