.login-form-container {
    display: flex;
    justify-content: center;
    background: url('../../../assets/netti-hero-fullwidth2.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.login-form-card {
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
    text-align: center;
}
.field-full-width {
    width: 80%;
    padding: 1em;
    
}
.login-button {
    font-size: 1.5em;
}

.subscription-button {
    font-size: 1.25em;
}
.divider {
    padding: 1em;
    margin: 10px;
}

.error-message {
    color: red;
    font-size: 1em;
    height: 20px;
    margin: 5px;
}

button {
    margin-bottom: 15px;
}
